<ion-header>
  <ion-toolbar>
    <ion-title>{{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <img src="{{profilePicture}}" alt="Profile Picture">
    <h2>{{fullName}}</h2>
    <p>{{bio}}</p>
  </div>

  <div class="profile-stats">
    <div>
      <h3>{{posts}}</h3>
      <p>Posts</p>
    </div>
    <div>
      <h3>{{followers}}</h3>
      <p>Followers</p>
    </div>
    <div>
      <h3>{{following}}</h3>
      <p>Following</p>
    </div>
  </div>

  <div class="profile-posts">
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let post of posts">
          <img src="{{post.imageUrl}}" alt="Post Image">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
