<ng-container *ngIf="regalo.id">
  <ng-container *ngForOf="regalo.id">
    <ion-content><img src="{{regalo.imagen}}" alt="foto regalo"></ion-content>
    <ion-content>{{regalo.nombre}}</ion-content>
    <ion-content>{{regalo.descripcion}}</ion-content>
    <ion-content>{{regalo.marca}}</ion-content>
    <ion-content>{{regalo.color}}</ion-content>
    <ion-content>{{regalo.talla}}</ion-content>
    <ion-content>{{regalo.precio}}</ion-content>
    <ion-content>{{regalo.enlace}}</ion-content>
    <ion-content>{{regalo.estado}}</ion-content>
  </ng-container>
</ng-container>
<ng-container *ngIf="!regalo.id">
  <ion-content> No se ha encotrado el regalo</ion-content>
</ng-container>

