<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Términos y Condiciones de uso de la Aplicación de Mis Eventos</h2>
  <p>Estos Términos y Condiciones ("T&C") son un acuerdo legal entre tú y MisEventos. Al utilizar la Aplicación de Red Social, aceptas cumplir estos T&C. Si no estás de acuerdo con alguno de los términos establecidos aquí, te pedimos que no utilices la Aplicación.</p>
  <h3>1. Uso de la Aplicación</h3>
  <h4>1.1 Registro:</h4>
  <p>Para utilizar la Aplicación, debes registrarte proporcionando una dirección de correo electrónico válida y una contraseña segura. Eres responsable de mantener la confidencialidad de tus credenciales de inicio de sesión.</p>
  <h4>1.2 Uso Adecuado:</h4>
  <p>Al utilizar la Aplicación, te comprometes a utilizarla de manera responsable y respetar los derechos de otros usuarios. No puedes publicar contenido ilegal, difamatorio, ofensivo o que infrinja los derechos de propiedad intelectual de terceros.</p>
  <h3>2. Privacidad</h3>
  <h4>2.1 Recopilación de Datos:</h4>
  <p>Al utilizar la Aplicación, es posible que recopilemos ciertos datos personales según se describe en nuestra Política de Privacidad. Al aceptar estos T&C, también aceptas nuestra Política de Privacidad.</p>
  <p>2.2 Seguridad:</p>
  <p>Nos comprometemos a proteger tus datos personales y a tomar medidas razonables para garantizar la seguridad de la Aplicación. Sin embargo, no podemos garantizar la seguridad absoluta de la información transmitida a través de Internet.</p>
  <h3>3. Propiedad Intelectual</h3>
  <h4>3.1 Derechos de Autor:</h4>
  <p>Todos los derechos de propiedad intelectual de la Aplicación y su contenido son propiedad de MisEventos o de los licenciantes correspondientes. No se otorga ningún derecho de propiedad intelectual sobre la Aplicación, excepto lo expresamente establecido en estos T&C.</p>
  <h3>4. Modificaciones y Terminación</h3>
  <h4>4.1 Modificaciones:</h4>
  <p>Nos reservamos el derecho de modificar o actualizar estos T&C en cualquier momento y sin previo aviso. Te recomendamos revisar regularmente los T&C para estar al tanto de cualquier cambio.</p>
  <h4>4.2 Terminación:</h4>
  <p>Podemos suspender o terminar tu acceso a la Aplicación si consideramos que has violado estos T&C o si lo creemos necesario por motivos de seguridad o cumplimiento legal.</p>
  <h3>5. Limitación de Responsabilidad</h3>
  <p>EN LA MEDIDA PERMITIDA POR LA LEY APLICABLE, MisEventos NO SERÁ RESPONSABLE DE NINGÚN DAÑO INDIRECTO, INCIDENTAL, ESPECIAL O CONSECUENTE QUE SURJA DEL USO DE LA APLICACIÓN O DE LA IMPOSIBILIDAD DE USARLA.</p>
  <h3>6. Disposiciones Generales</h3>
  <h4>6.1 Ley Aplicable:</h4>
  <p>Estos T&C se regirán e interpretarán de acuerdo con las leyes de España sin tener en cuenta sus principios de conflicto de leyes.</p>
  <h4>6.2 Acuerdo Completo:</h4>
  <p>Estos T&C constituyen el acuerdo completo entre tú y MisEventos con respecto al uso de la Aplicación y reemplazan cualquier acuerdo previo o contemporáneo.</p>
  <h4>6.3 Renuncia:</h4>
  <p>El hecho de que MisEventos no ejerza o haga valer cualquier derecho o disposición de estos T&C no constituirá una renuncia a dicho derecho o disposición.</p>
  <p>Si tienes alguna pregunta o inquietud sobre estos Términos y Condiciones, puedes ponerte en contacto con nosotros en isla.peinado@campusfp.es.</p>
  <p>Última actualización: 01/06/2023</p>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" routerLink="/register">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
