<ion-card-content>
  <h2 class="ion-text-center">Iniciar sesión</h2>
  <form [formGroup]="FormLogin" (ngSubmit)="onSubmit()">
    <ion-list lines="none">
      <ion-card-content>
        <ion-item>
          <ion-input
            type="email"
            fill="solid"
            label="Email"
            labelPlacement="floating"
            formControlName="email"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-item>
          <ion-input
            type="password"
            fill="solid"
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button expand="block" shape="round" size="large" type="submit" color="primary">Enviar</ion-button>

      <ion-card-content class="ion-text-center">¿No tienes cuenta? <a routerLink="/register"
                                                                      color="primary">Regístrate</a>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="2" offset="4">
            <ion-button expand="content" color="danger" fill="outline" shape="round" (click)="loginGoogle()"
                        routerLink="/inicio/list-evento" class="google-login">
              <ion-icon name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
  </form>
</ion-card-content>

