<!--


  Creo que al final no es necesario se ve directamente en "one-evento"



<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let regalo of regalos; let i = index;">
        <ion-col size="6" *ngIf="i % 2 === 0" style="padding: 0 8px !important;">
          <ion-card (click)="redirectToGift(regalo.id)">
            <ion-thumbnail>
              <img alt="foto regalo" src="{{regalo.fotoRegalo}}"/>
            </ion-thumbnail>
            <ion-card-content>
              <ion-card-title>{{regalo.nombreRegalo}}</ion-card-title>
              <ion-card-text>{{regalo.precioRegalo}} {{regalo.colorRegalo}}</ion-card-text>
              <ion-card-text>{{regalo.estadoRegalo}}</ion-card-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" *ngIf="i % 2 !== 0" style="padding: 0 8px !important;">
          <ion-card (click)="redirectToGift(regalo.id)">
            <ion-thumbnail>
              <img alt="foto regalo" src="{{regalo.fotoRegalo}}"/>
            </ion-thumbnail>
            <ion-card-content>
              <ion-card-title>{{regalo.nombreRegalo}}</ion-card-title>
              <ion-card-text>{{regalo.precioRegalo}} {{regalo.colorRegalo}}</ion-card-text>
              <ion-card-text>{{regalo.estadoRegalo}}</ion-card-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>-->
