<ion-content [fullscreen]="true" class="ion-padding">

  <h2>Ayuda para Usuarios</h2>
  <p>Bienvenido a la aplicación de Mis Eventos. ¡Estamos emocionados de tenerte aquí!</p>
  <h3>1. Explora eventos</h3>
  <p>Descubre una amplia gama de eventos, desde conciertos y exposiciones hasta conferencias y eventos deportivos. Utiliza la función de búsqueda para encontrar eventos que se ajusten a tus intereses y ubicación.</p>
  <h3>2. Participa en eventos</h3>
  <p>Regístrate en los eventos que te interesen y mantente actualizado con las últimas noticias y actualizaciones. ¡No te pierdas ninguna oportunidad emocionante!</p>
  <h3>3. Conecta con otros asistentes</h3>
  <p>Interactúa con otros asistentes a través de mensajes, comentarios y grupos de discusión. Comparte tus experiencias, haz preguntas y conoce a personas que comparten tus intereses.</p>
  <h3>4. Personaliza tu perfil</h3>
  <p>Agrega información personalizada a tu perfil para que otros usuarios puedan conocerte mejor. Sube una foto de perfil y comparte tus intereses y pasiones.</p>
  <h3>5. Configura tus preferencias</h3>
  <p>Ajusta tus preferencias de notificación y tema en la sección de configuración. Puedes elegir recibir notificaciones sobre eventos, actualizaciones y mensajes importantes.</p>
  <h3>6. Ayuda y soporte</h3>
  <p>Si tienes alguna pregunta o necesitas ayuda, consulta la sección de Ayuda en la aplicación. También puedes ponerte en contacto con nuestro equipo de soporte a través del correo electrónico isla.peinado@campusfp.es.</p>
  <p>¡Disfruta de tu experiencia en la aplicación de Mis Eventos y diviértete explorando y participando en eventos increíbles!</p>
  <p>¡Gracias por ser parte de nuestra comunidad!</p>
  <p>Atentamente,<br>El equipo de Mis Eventos</p>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary"routerLink="/inicio/perfil">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>





