<ion-content [fullscreen]="true" class="no-scroll">
  <ion-list lines="non">
    <ion-item>
      <ion-select label="Color" placeholder="selecionar uno">
        <div *ngFor="let color of colores">
          <ion-select-option value="{{color}}">{{color}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        label="Talla/Modelo"
        type="text"
        class="form-control"
        placeholder="Talla o modelo"
        [counter]="true" maxlength="20">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Precio*"
        type="number"
        class="form-control"
        placeholder="Precio"
        [counter]="true" maxlength="10">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Enlace"
        type="text"
        class="form-control"
        placeholder="Enlace"
        [counter]="true" maxlength="10">
      </ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block">Añadir otro</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block">Finalizar</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
